h2 {
    margin:40 px;
    text-align: center;
    margin-top: 50px;
}

h4 {
    margin-bottom: 20px
}

button {
    margin-top: 17px;
}

input {
    margin-bottom: 3px;
}

.column1 {
    float: left;
    width: 50%;
    text-align: center;
    border-right: 3px solid black;
  }

.column2 {
    float: left;
    width: 50%;
    text-align: center;
}

.row {
    margin-top: 70px;
}
