/* This component (items.component.css) displays styling for individual item page
    - Written by Tia Lowenthal, for COMP30022 IT Project
*/
.infobox {
    padding-top: 30px;
}

.item-expand {
    background-color: #ff9a00;
    border: 1px solid #ff9a00;
    color:  white;
    text-decoration: none;
    border-radius: 6px;
    height: 42px;
    width: 550px;
}

.item-container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 40px;
}